
{% extends 'base.html' %}
{% block title %}Đặt bàn thất bại{% endblock %}
{% load static %}
{% block content %}

<section class="our-team section">
                    <div class="sec-wp">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="sec-title text-center mb-5">
                                        <p class="sec-sub-title mb-3">Đầu bếp</p>
                                        <h2 class="h2-title">Những đầu bếp hàng đầu</h2>
                                        <div class="sec-title-shape mb-4">
                                            <img src="../assets/images/title-shape.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row team-slider">
                                <div class="swiper-wrapper">
                                    <div class="col-lg-4 swiper-slide">
                                        <div class="team-box text-center">
                                            <div style="background-image: url(../assets/images/chef/c1.jpg);"
                                                class="team-img back-img">

                                            </div>
                                            <h3 class="h3-title">Nilay Hirpara</h3>
                                            <div class="social-icon">
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="uil uil-facebook-f"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="uil uil-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="uil uil-youtube"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 swiper-slide">
                                        <div class="team-box text-center">
                                            <div style="background-image: url(../assets/images/chef/c2.jpg);"
                                                class="team-img back-img">

                                            </div>
                                            <h3 class="h3-title">Ravi Kumawat</h3>
                                            <div class="social-icon">
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="uil uil-facebook-f"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="uil uil-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="uil uil-youtube"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                <div class="col-lg-4 swiper-slide">
                                    <div class="team-box text-center">
                                        <div style="background-image: url(../assets/images/chef/c3.jpg);"
                                            class="team-img back-img">

                                        </div>
                                        <h3 class="h3-title">Navnit Kumar</h3>
                                        <div class="social-icon">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="uil uil-facebook-f"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="uil uil-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="uil uil-youtube"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 swiper-slide">
                                    <div class="team-box text-center">
                                        <div style="background-image: url(../assets/images/chef/c4.jpg);"
                                            class="team-img back-img">

                                        </div>
                                        <h3 class="h3-title">Pranav Badgal</h3>
                                        <div class="social-icon">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="uil uil-facebook-f"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="uil uil-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="uil uil-youtube"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="testimonials section bg-light">
                <div class="sec-wp">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="sec-title text-center mb-5">
                                    
                                    <h2 class="h2-title">Những khách hàng <span>nói gì về chúng tôi</span></h2>
                                    <div class="sec-title-shape mb-4">
                                        <img src="../assets/images/title-shape.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="testimonials-img">
                                    <img src="../assets/images/testimonial-img.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="testimonials-box">
                                            <div class="testimonial-box-top">
                                                <div class="testimonials-box-img back-img"
                                                    style="background-image: url(../assets/images/testimonials/t1.jpg);">
                                                </div>
                                                <div class="star-rating-wp">
                                                    <div class="star-rating">
                                                        <span class="star-rating__fill" style="width:85%"></span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="testimonials-box-text">
                                                <h3 class="h3-title">
                                                    Phương Hải
                                                </h3>
                                                <p>Không gian ăn rất tuyệt vời, phục vụ cũng nhanh và chu đáo.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="testimonials-box">
                                            <div class="testimonial-box-top">
                                                <div class="testimonials-box-img back-img"
                                                    style="background-image: url(../assets/images/testimonials/t2.jpg);">
                                                </div>
                                                <div class="star-rating-wp">
                                                    <div class="star-rating">
                                                        <span class="star-rating__fill" style="width:80%"></span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="testimonials-box-text">
                                                <h3 class="h3-title">
                                                    Hoàng Giang
                                                </h3>
                                                <p>Hương vị rất tuyệt vời, có nhiều món tôi chưa thử bao giờ.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="testimonials-box">
                                            <div class="testimonial-box-top">
                                                <div class="testimonials-box-img back-img"
                                                    style="background-image: url(../assets/images/testimonials/t3.jpg);">
                                                </div>
                                                <div class="star-rating-wp">
                                                    <div class="star-rating">
                                                        <span class="star-rating__fill" style="width:89%"></span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="testimonials-box-text">
                                                <h3 class="h3-title">
                                                    Phạm Duy
                                                </h3>
                                                <p>Gia đình tôi rất thích đến đây ăn vào những dịp đặc biệt, chất lượng rất tuyệt vời.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="testimonials-box">
                                            <div class="testimonial-box-top">
                                                <div class="testimonials-box-img back-img"
                                                    style="background-image: url('{% static "images/testimonials/t4.jpg" %}');">
                                                </div>
                                                <div class="star-rating-wp">
                                                    <div class="star-rating">
                                                        <span class="star-rating__fill" style="width:100%"></span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="testimonials-box-text">
                                                <h3 class="h3-title">
                                                    Khánh An
                                                </h3>
                                                <p>Phục vụ rất tốt, tôi đã đến ăn rất nhiều lần, đồ ăn cũng rất ngon.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="faq-sec section-repeat-img" style="background-image: url(../assets/images/faq-bg.png);">
                <div class="sec-wp">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="sec-title text-center mb-5">
                                    
                                    <h2 class="h2-title">Bạn hỏi <span>chúng tôi trả lời!</span></h2>
                                    <div class="sec-title-shape mb-4">
                                        <img src="../assets/images/title-shape.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="faq-row">
                            <div class="faq-box">
                                <h4 class="h4-title">Tại sao phải đăng nhập?</h4>
                                <p>Để chúng tôi có thể phục vụ bạn nhanh hơn, bạn cũng có thể theo dõi xem món ăn của mình đang như thế nào.</p>
                            </div>
                            <div class="faq-box">
                                <h4 class="h4-title">Tôi có thể được hoàn tiền khi gặp lỗi không?</h4>
                                <p>Nếu bạn đã thanh toán trước cho chúng tôi, tất nhiên chúng tôi sẽ hoàn trả toàn bộ.</p>
                            </div>
                            <div class="faq-box">
                                <h4 class="h4-title">Mất bao lâu cho đơn đặt hàng về nhà?</h4>
                                <p>Bạn có thể tìm thấy mọi thông tin của đơn hàng và tài xế trong mục đơn hàng của mình.</p>
                            </div>
                            <div class="faq-box">
                                <h4 class="h4-title">Nhà hàng có thật sự sử dụng nguyên liệu mới mỗi ngày không?</h4>
                                <p>Tất nhiên rồi, chúng tôi cam đoan mọi nguyên liệu đều được nhập mới ngay trong ngày.</p>
                            </div>
                            <div class="faq-box">
                                <h4 class="h4-title">Có phụ phí cho các món ăn không?</h4>
                                <p>Rẩt tiếc là chúng tôi vẫn sẽ thu thêm một chút phụ phí cho dịch vụ và các món ăn.</p>
                            </div>
                            <div class="faq-box">
                                <h4 class="h4-title">Nhà hàng có thẻ VIP cho khách hàng không?</h4>
                                <p>Chúng tôi có nhưng thẻ chỉ có thể sử dụng trực tiếp tại nhà hàng, không bao gồm mua về. </p>
                            </div>
                        </div>

                    </div>
                </div>

            </section>

{% endblock %}